
@media only screen and (max-width: 768px)
{
    #header
    {
        height: 50px;
    }

    #top-channel-icon
    {
        height: 50px;
    }

    #search-icon
    {
        height: 50px;
    }

    #top-menu
    {
        display: none;
    }

    #search-icon-container
    {
        position: relative;
        left: 140px;
    }

    #hamburger
    {
        position: relative;
        left: 140px;
    }

    .line
    {
        width: 50px;
        height: 5px;
    }

    #dropdown-lists-container
    {
        grid-template-columns: auto;
        height: 200px;
        overflow-y: scroll;
        border-top: 2px wheat solid;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    #dropdown-lists-container::-webkit-scrollbar
    {
        width: 10px;
    }

    #dropdown-lists-container::-webkit-scrollbar-track
    {
        background: darkblue;
    }

    #dropdown-lists-container::-webkit-scrollbar-thumb
    {
        background: white;
    }

    #dropdown-lists-container::-webkit-scrollbar-thumb:hover
    {
        background: gray;
    }

    .dropdown-list-item
    {
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .dropdown-list-link
    {
        font-size: 1.3rem;
    }

    #date
    {
        position: relative;
        left: 0px;
        font-size: 1.1rem;
    }

    #list-of-news-images{
        width: 300px;
        height: 310px;
        position: relative;
        left: 10px;
        top: 10px;
    }

    .big-news-image
    {
        width: 300px;
        height: 300px;
    }

    .big-news-title
    {
        position: relative;
        bottom: 145px;
    }

    .dots{
        position: relative;
        bottom: 27px;
        left: 10px;
    }
    
    #side-news
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 10px;
    }

    .side-news-container
    {
        position: relative;
        left: 10px;
    }

    .section-news-image
    {
        width: 300px;
    }

    .seperating-line
    {
        visibility: visible;
        width: 98%;
    }

    .section-news-container
    {
        margin: 10px;
    }

    .second-third
    {
        display: none;
    }

    #search-bar
    {
        position: relative;
        left: 13px;
    }
}